body {
  color:rgb(59, 53, 53)
}
.name {
  color: green;
}
.rgb {
  color: rgb(50, 16, 16);
}
.hex {
  color: #bbf600;
}
.hsl {
  color: hsl(10, 100%, 50%);
}
/* background */
.image {
  height: 200px;
  background-image: url(arduino.jpg);
}
.repeat {
  height: 200px;
  background-image: url(arduino.jpg);
  background-repeat: no-repeat;
}
.attachment {
  height: 300px;
  background-image: url(arduino.jpg);
  background-attachment: fixed;
}
.shorthand{
    height: 200px;
    background: url(arduino.jpg) no-repeat;
    color: #FFFFFF;
}
/* border */
.solid{
  border: 2px solid red;
}
.dotted{
  border: 2px dotted blue;
}
.double{
  border: 4px double green;
}
.dashed{
  border: 2px dashed gray;
}
/* text */
.color{
  color: blue;
}
.alignment{
  background-color: aqua;
  text-align: center;
}
/* text decoration */
.overline{
  text-decoration: overline red;
}
.line-through{
  text-decoration: line-through blue;
}
.underline{
  text-decoration: underline green;
}
.none-underline{
  text-decoration: none;
}
/* text transform */
.uppercase{
  text-transform: uppercase;
}
.capitalize{
  text-transform: capitalize;
}
.lowercase{
  text-transform: lowercase;
}
/* text shadow */
.shadow{
  background-color: aqua;
  color: white;
  text-shadow: 2px 2px 4px black;
}
/* button */
.button {
  width: 70px;
  height: 30px;
  background-color: red;
  border-radius: 12px;
  cursor: pointer;
}
.button:hover {
  background-color: blue;
}
.button:active {
  background-color: green;
}
.button p {
  color: white;
  text-align: center;
  padding-top: 5px;
}

